* {
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto slab', serif;
    margin-block: 0.2rem;
}

h1 {
    color: white;
    font-size: 5.653rem;
}

h2 {
    font-size: 3.998rem;
}

h3 {
    color: black;
    font-size: 2.827rem;
}

h4 {
    font-size: 1.999rem;
}

h5 {
    font-size: 1.414rem;

}

h6 { 

}

p {
    line-height: 1.6em;
    margin-block: 0.6em;
}

header {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

div {
    /* border: solid 1px yellow;
    width: 100px; */
}

button {
    background-color: navy;
    color: white;
    border-radius: 50px;
}

.btn-large {
    width: 200px;
    height: 40px;
    font-size: 16px;
}

.card {
    background-color: lavender;
    padding: 20px;
    width: 400px;

    margin: 50px 30px 10px 30px;
}

#card{
    justify-content: space-evenly;
}

img {
    width: 100%;
}

.logo-header {
    width: 100px;
}

#hero {
    height: 100vh;
    /* background-color: tomato; */
    text-align: center;
    background-image: url('../Img/tyler-nix-6mze64HRU2Q-unsplash.jpg');
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px 0px 0px;
    /* background-position: center; */
}

#about {
    height: 50vh;
}

#contact {
    height: 600px;
    background-color: coral;
    /* border: 5px solid black;
    margin: 100px; */
    padding: 50px 100px;
}

footer {
    height: 50vh;
}

.container {
    display: flex; /* or inline-flex */
  }

  a{

    }